<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.pojo.Department">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parentId" property="parentId" />
        <result column="depPath" property="depPath" />
        <result column="enabled" property="enabled" />
        <result column="isParent" property="isParent" />
    </resultMap>

    <resultMap id="departmentandchild" type="com.xxxx.pojo.Department" extends="BaseResultMap">
        <collection property="children" ofType="com.xxxx.pojo.Department">
            <id column="id2" property="id" />
            <result column="name2" property="name" />
            <result column="parentId2" property="parentId" />
            <result column="depPath2" property="depPath" />
            <result column="enabled2" property="enabled" />
            <result column="isParent2" property="isParent" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parentId, depPath, enabled, isParent
    </sql>
    <select id="queryAllDepartment" resultMap="departmentandchild">
        SELECT
            d1.*,
            d2.id id2,
            d2.`name` name2,
            d2.parentId parentId2,
            d2.depPath depPath2,
            d2.enabled enabled2,
            d2.isParent isParent2
        FROM
            t_department d1,
            t_department d2
        WHERE
            d1.id = d2.parentId
    </select>

</mapper>
